$color-pure-black: #000000;
$color-black: #4c4743;
$color-white: #ffffff;
$color-green: #00b078;
$color-gray: #ededed;

$text-color-default: #322c28;
$text-color-black: #000000;
$text-color-lightgray: #cecece;
$text-color-green: #00b078;
$text-color-gray: #9592a6;

$border-color-coffee: #322c28;
$border-color-gray-dark: #707070;
$border-color-dove-gray: #646464;
$border-color-black: #000000;

$upcoming-season-text-color: #021442;
$time-label-bg-color: #e7e7ff;
$time-label-color: #333269;

$week-color: #5855d6;

$common-text-color: #6a6c71;
$common-task-readMore: #16c36e;
$common-title-color: #000000;
